.product{
    width:400px;
    background-color: honeydew;
    margin-top: 100px;
    margin-left: 30%;
    border: 1px solid  black;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding:1rem;
    align-items: center;
    text-align: center;
}


.product > .button{
    border: 1px solid ;
    background-color: rgb(159, 207, 205);
    cursor: pointer;
    
    width: 100px;
    margin-left: 36%;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 0.5rem;
    outline: none;
}
.product > table{
    border-color: black solid .2px;
    margin-left: 10%;
}
thead{
    font-size: large;
    font-weight: bolder;
}